Source: bellmansgapc
Section: devel
Priority: extra
Maintainer: Bielefeld BioInformatics Service <bibi-help@cebitec.uni-bielefeld.de>
Build-Depends: debhelper (>= 7), make (>= 3.81), flex (>= 2.5.34), bison (>= 2.4.1), libboost-all-dev (>= 1.40), mercurial (>= 1.0), libgsl-dev, git
Standards-Version: 3.9.1
Homepage: http://bibiserv.cebitec.uni-bielefeld.de/bellmansgap/

Package: bellmansgapc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, g++ (>= 4:4.3.1), make (>= 3.81), libboost-all-dev (>= 1.40), libgsl-dev, libgmp3-dev, libatlas-base-dev
Description: Bellman's GAP Dynamic Programming Files Compiler
 Bellman's GAP is a domain specific language for describing dynamic
 programming algorithms on sequences at a high level. I.e.
 GAP-L programs do not contain indices or DP recurrences.
 GAP-C translates GAP-L programs into optimized C++ code.
