name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  gapc_ubuntu:
    strategy:
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install dependencies
      run: sudo apt-get install flex bison make libboost-all-dev libgsl-dev ghc python3 python3-pip cabal-install libghc-random-dev
    
    ## cabal install random doesn't seem to work anymore: https://stackoverflow.com/questions/11068185/ubuntu-haskell-ghci-7-4-1-could-not-find-module-system-random
    ##- name: update cabal
    ##  run: cabal update
    ##- name: add random Haskell lib
    ##  run: cabal install --lib random
    ##- uses: actions/checkout@v2
    ##- name: debugging
    ##  run: cd testdata/paraltest && mkdir temp && cd temp && ghc --make ../AdpfMain.lhs -i.. -hidir ./GHC -odir ./GHC -o AdpfMain
    
    - name: Checkout truth
      run: git clone https://github.com/jlab/gapc-test-suite.git $GITHUB_WORKSPACE/../gapc-test-suite
      
    - uses: actions/checkout@v2
    - name: configure
      run: ./configure --prefix $GITHUB_WORKSPACE
    - name: make
      run: make -j 2
    - name: make install
      run: sudo make install
      
    - name: test-mod
      run: make test-mod TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth TRUTH_SUFFIX=_ubuntu
    - name: test-regress
      run: make test-regress TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth
    - name: test-ambiguity
      run: make test-ambiguity TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth
    - name: test-unit
      run: make test-unit
    - name: test-paral
      run: make test-paral

  gapc_osx:
    strategy:
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
        os: [macos-10.15]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install dependencies
      run: brew install bison@2.7 cmake boost gsl gnu-sed libomp gmp cabal-install
    - name: update cabal
      run: cabal update
    - name: add random Haskell lib
      run: cabal install --lib random
    - name: Checkout truth
      run: git clone https://github.com/jlab/gapc-test-suite.git $GITHUB_WORKSPACE/../gapc-test-suite
      
    - uses: actions/checkout@v2
    - name: configure
      run: ./configure --prefix $GITHUB_WORKSPACE
    - name: patch configuration for OSX 
      run: gsed -E "s|^YACC = .+$|YACC = /usr/local/opt/bison@2.7/bin/bison|" -i config.mf && gsed -E "s|^SED = .+$|SED = /usr/local/opt/gnu-sed/libexec/gnubin/sed|" -i config.mf && gsed -E "s/ -D_XOPEN_SOURCE=500 / /" -i config.mf && gsed -E "s/ -std=c\+\+17 / -std=c\+\+11 /" -i config.mf
    - name: make
      run: make -j 3
    - name: make install
      run: sudo make install
      
    - name: test-mod
      run: make test-mod TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth TRUTH_SUFFIX=_osx
    - name: test-regress
      run: make test-regress TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth
    - name: test-ambiguity
      run: make test-ambiguity TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth
    - name: test-unit
      run: make test-unit
    - name: test-paral
      run: make test-paral
