name: test outside injection

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, outside ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'

jobs:
  gapc_ubuntu:
    runs-on: ubuntu-latest
    steps:
    - name: Update apt
      run: sudo apt-get update
    - name: Install dependencies
      run: sudo apt-get install flex bison make libboost-all-dev libgsl-dev python3 python3-pip

    - name: Checkout truth
      run: git clone --branch outside_v2 https://github.com/jlab/gapc-test-suite.git $GITHUB_WORKSPACE/../gapc-test-suite

    - uses: actions/checkout@v2
    - name: configure
      run: ./configure --prefix $GITHUB_WORKSPACE

    - name: test-mod
      run: make -j 2 test-mod_outside TRUTH_DIR=$GITHUB_WORKSPACE/../gapc-test-suite/Truth TRUTH_SUFFIX=_ubuntu
